@import "~@app/style/variables.scss";

.filex-content-router {
  padding: 5px 10px;
  height: $appContentRouterHeight;
  width: 100%;
  min-width: 600px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;

  .redo-undo {
    margin-right: 20px;

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      border-color: rgba(0, 0, 0, 0.26);
    }

    .redo-undo-button {
      padding: 0 10px;
      color: rgba(0, 0, 0, 0.65) !important;
      border-color: rgba(0, 0, 0, 0.26) !important;
      box-shadow: none !important;
      height: 26px;
      line-height: 26px;
      &:active {
        background: rgba(0, 0, 0, 0.07);
        box-shadow: none;
      }
    }

  }
}